.carditem{
    transition: all 0.3s ease-out;
    width: 208px;
    height: 260px;
    border: 1px solid #F3F3F3;
    border-radius: 40px;
    &__content{
        padding: 20px 25px;
        position: relative;
    }
    &__image{
        width: 160px;
        height: 112px;
        img{
            user-select: none;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    &__name{
        font-size: 14px;
        line-height: 1.2;
        padding: 14px 0;
        text-transform: capitalize;
    }
    &__buy{
        display: flex;
        justify-content: space-between;
    }
    &__price{
        display: flex;
        flex-direction: column;
    }
    &__pricename{
        font-size: 11px;
        color: #bdbdbd;
        text-transform: uppercase;
    }
    &__priceamount{
        font-weight: 700;
        font-size: 14px;
        line-height: 1.2;
    }
    &__addincart{
        position: relative;
        border: 1px solid #F2F2F2;
        border-radius: 8px;
        width: 32px;
        height: 32px;
        background-color: transparent;
        font-size: 18px;
        color: #D3D3D3;
        &:hover{
            transition: all 0.1s linear;
            border-color: #87C20A;
            color: #87C20A;
        }
    }
    &__plus{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__incart{
        transition: all 0.2s linear;
        position: relative;
        border: none;
        border-radius: 8px;
        width: 32px;
        height: 32px;
        background-color: #87C20A;
        font-size: 18px;
        color: #fff;
        &:hover{
            background-color: #c20a0a;
        }
    }
    &__check{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    &__like{
        position: absolute;
        top: 20px;
        left: 20px;
    }
    &__favorite{
        position: absolute;
        cursor: pointer;
        transition: all 0.2s linear;
        position: relative;
        border: 1px solid #F2F2F2;
        border-radius: 8px;
        width: 32px;
        height: 32px;
        background-color: transparent;
        font-size: 18px;
        color: #D3D3D3;
        &:hover{
            border-color: #FEF0F0;
            transition: all 0.2s linear;
            color: #FF8585;
        }
    }
    &__favoriteadded{
        position: absolute;
        cursor: pointer;
        transition: all 0.2s linear;
        position: relative;
        border: 1px solid transparent;
        border-radius: 8px;
        width: 32px;
        height: 32px;
        background-color: #FEF0F0;
        font-size: 18px;
        color: #D3D3D3;
    }
    &__hearthfill{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #FF8585;
    }
    &__hearthoutline{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &:hover{
        transition: all 0.1s ease-in;
        transform: translate(0, -5%);
        box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
    }
}