.user{
    display: flex;
    color: #9B9B9B;
    & > *{
        margin: 0 30px 0 0;
        cursor: pointer;
        &:last-child{
            margin: 0;
        }
    }
    &__favorite:hover{
        transition: all 0.2s linear;
        color: #FF8585;
    }
    &__profile:hover{
        transition: all 0.2s linear;
        color: #FF8585;
    }
}