.slider{
    padding: 40px 0 0 0;
    &__body{
        position: relative;
        background-color:   #F4EFE9;
        border-radius: 20px;
        height: 300px;
        width: 960px;
    }
    &__image{
        width: 940px;
        img{
            position: absolute;
            z-index: 0;
            width: 950px;
            height: 100%;
            object-fit: scale-down;
        }
    }
    &__text{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    &__next{
        cursor: pointer;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50%;
        right: 0;
        transform: translate(50%, -50%);
        width: 35px;
        height: 35px;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);
    }
    &__prev{
        cursor: pointer;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);
        width: 35px;
        height: 35px;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);
    }
}
