.catalog{
    &__header{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 40px 0;
        align-items: center;
    }
    &__title{
        font-size: 32px;
        font-weight: 700;
        max-width: 70%;
        word-wrap: break-word;
    }
    &__items{
        display: flex;
        justify-content: center;
        justify-items: center;
        flex-wrap: wrap;
        gap: 40px;
    }
    &__emptysearch{
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1.5;
        align-items: center;
        height: 260px;
    }
    &__emptysearch_title{
        font-size: 22px;
        color: #FF8585;
        font-weight: 600;
    }
}
